 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">
<head>
<meta charset="UTF-8">
<title>Add User</title>
</head>
<body>
<section id="admin-content" class="p-3" layout:fragment="content">
                <h3 class="mb-4">Thêm mới thành viên</h3>
                <form method="post" th:action="@{/user/add}" th:object="${user}" >
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>ID</label>
                                <input type="text" class="form-control"  th:field="*{userId}"/>
                            </div>
                            <div class="form-group">
                                <label>Login Name</label>
                                <input type="text"  class="form-control"  th:field="*{loginName}"/>
                            </div>
                            <div class="form-group"> 
                                <label>Password</label>
                                <input type="password" class="form-control" th:field="*{password}"/>
                            </div>
                            <div class="form-group"> 
                                <label>Tên</label>
                                <input type="text" class="form-control" th:field="*{fristName}"/>
                            </div>
                            <div class="form-group"> 
                                <label>Họ</label>
                                <input type="text" class="form-control" th:field="*{lastName}"/>
                            </div>
                            <div class="form-group"> 
                                <label>Số điện thoại</label>
                                <input type="text" class="form-control" th:field="*{phone}"/>
                            </div>
                            <div class="form-group"> 
                                <label>Email</label>
                                <input type="text" class="form-control" th:field="*{email}"/>
                            </div>
                            <div class="form-group"> 
                                <label>Nhóm quyền</label>
                                <input type="text" class="form-control" th:field="*{role}"/>
                            </div>
                            
                        </div>
                        
                        <div class="col-md-6">    
                        	<div class="form-group"> 
                                <label>Địa chỉ</label>
                                <input type="text" class="form-control" th:field="*{address}"/>
                            </div>
                            <div class="form-group"> 
                                <label>Thành phố</label>
                                <input type="text" class="form-control" th:field="*{city}"/>
                            </div>
                            <div class="form-group"> 
                                <label>Mã bưu chính</label>
                                <input type="text" class="form-control" th:field="*{postalCode}"/>
                            </div>
                            <div class="form-group"> 
                                <label>Bang</label>
                                <input type="text" class="form-control" th:field="*{state}"/>
                            </div>                       
                            <div class="form-group">
								<label class="col-sm-12">Quốc gia</label>
								<div class="col-sm-12" >
									<select th:field="*{country}" class="form-control form-control-line" >
										<option th:each="item : ${countrys}" th:value="${item.id}"  th:text="${item.name}" ></option>
									</select>
								</div>
					        </div>
					        
 <!--                           <div class="form-group">
                                <label>Avatar</label>
                                <input type="text" name="avatar" class="form-control" placeholder="avatar" th:field="*{avatar}"/>
                            	</div>-->
                        </div>  
                        <div class="col-12 mt-3">
                            <button type="submit" class="btn btn-success">Lưu lại</button>
                            <a class="btn btn-secondary" >Quay lại</a>
                        </div>
                    </div>
                </form>
            </section>
</body>
</html>