<div id="side-bar" xmlns:th="http://www.thymeleaf.org"
	th:fragment="sidebar">
	<div class="logo">ADMIN PAGE</div>
	<ul class="list-group rounded-0">
		<li class="dashboard">DASHBOARD</li>
		<li><a href="/user"> <i class="fa fa-user mr-2"></i> Quản lý
				thành viên
		</a></li>
		<li><a href="/port"> <i class="fa fa-book mr-2"></i> Quản lý
				hải cảng
		</a></li>
		<li><a href="/shipment"> <i class="fa fa-cogs mr-2"></i> Quản
				lý chuyến hàng
		</a></li>
		<li><a href="/country"> <i class="fa fa-slack mr-2"></i> Quan
				lý tên Quốc gia
		</a></li>
		<li><a href="/ship"> <i class="fa fa-slack mr-2"></i> Quan lý
				Tàu
		</a></li>
		<li><a href="/route"> <i class="fa fa-slack mr-2"></i> Quan
				lý Hải trình
		</a></li>
	</ul>
</div>